[Unit]
Description=Controlled Egress GRE Tunnel
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/srv/GREX/gre-tunnel.sh
ExecStop=/srv/GREX/gre-tunnel-stop.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
