# Example GRE Tunnel Configuration
# Copy this to /etc/gre-tunnel.conf and modify as needed

VPS_PUBLIC_IP=130.x.x.x
FORTI_PUBLIC_IP=93.x.x.x
INTERNAL_SUBNETS=192.168.0.0/16,172.16.0.0/12
ENABLE_DNSMASQ=yes
DNS_SERVERS=1.1.1.1,8.8.8.8
ETH_INTERFACE=eth0

VPS_TUNNEL_IP=10.10.10.2/30
FORTI_TUNNEL_IP=10.10.10.1
GRE_IF=gre-forti
GRE_KEY=
GRE_MTU=1400
MSS_MODE=fixed
MSS_VALUE=1360
ENABLE_HARDENING=yes
ADMIN_IP=x.x.x.x
ALLOW_ICMP=yes
